$homecolor: #ff0;

html {
  background: $homecolor;
}

.box {
  composes: bigBox from './common.scss';
  /* 放第一行 */
  height: 200px;
  width: 200px;
  border-radius: 4px;
  background: #333;
  transition: transform 1s;
}
